<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411872971811-bkq0h9gik61c3hip7ihsidshuftfkg72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411872971811-bkq0h9gik61c3hip7ihsidshuftfkg72</string>
	<key>API_KEY</key>
	<string>AIzaSyCbWFS1YxOBB4VXUl_MfFdTeq3h00-XkFg</string>
	<key>GCM_SENDER_ID</key>
	<string>411872971811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vini10b-hotmail.com.instaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-3919b</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-3919b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411872971811:ios:24e8e89d06accda285b596</string>
</dict>
</plist>